@import "colors";
@import "mixins";

:host {
  padding: 1rem;

  &>div:first-of-type>div:first-of-type {
    border-right: 1px solid $gray-400;

    app-search-input {
      min-width: 320px;
      width: 33%;

      @include generateStyleByMaxBreakpoint("sm") {
        min-width: unset;
        width: 100%;
        margin-top: 0.4rem;
      }
    }

    app-date-picker {
      min-width: 320px;
      width: 25%;

      @include generateStyleByMaxBreakpoint("sm") {
        min-width: unset;
        width: 100%;
        margin-left: 0;
        margin-top: 0.4rem;
      }
    }

    app-select {
      @include generateStyleByMaxBreakpoint("sm") {
        margin-left: 0;
        margin-top: 0.4rem;
      }
    }
  }
}

.card {
  border: 1px solid $gray-400;
  background-color: $white;

  .complete-toggle {
    padding: 0.4rem;
  }

  &>div {
    border-bottom: 1px solid $gray-300;

    &>em {
      cursor: pointer;
    }
  }

  pre {
    line-height: 21px;
  }
}
