@import "colors";

$radius: (
  s: 4px,
  m: 7px,
  l: 12px,
  circle: 50%
);

$shadow: (
  input: 0 0 5px 1px rgba(0, 0, 0, 0.11),
  dropdown: 0 0 5px 1px rgba(0, 0, 0, 0.11),
);

$font-level: (
  xxl: 1.5rem,
  xl: 1.375rem,
  lgx: 1.25rem,
  lg: 1.125rem,
  md: 1rem,
  sm: 0.875rem,
  xs: 0.75rem,
);

$font-weight: (
  6: 600,
  5: 500,
  4: 400,
  1: 100
);

$layout-level: (
  cover: 2,
  fix: 3,
  fix-middle: 4,
  fix-top: 5,
  important: 11,
  overlay: 90,
  loading: 93,
  toast: 94,
  supreme: 100,
);

$breakpoint: (
  lx: 1919px,
  l: 1279px,
  m: 767px,
);

$dialog-size: (
  xl: 1140px,
  l: 762px,
  m: 500px,
  s: 343px,
  fit-content: fit-content,
);

$side: (
  t: top,
  b: bottom,
  r: right,
  l: left,
);

$z-index: (
  xl: 100,
  l: 99,
  m: 5,
  s: 2,
);

$Justify-content: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$display: flex, none, block, inline-block;

$flex-direction: row, column;

$flex-wrap: wrap nowrap wrap-reverse;

$back-size: cover, contain, initial, revert, unset, revert-layer, inherit;

$cursor-pointer: auto, default, pointer;

$position: relative, fixed, absolute;

$white-space: nowrap, pre, normal;

$overflow: auto, hidden, visible, scroll;

$direction: start, center, end;

$scale: (
  0: 0,
  1: 0.1,
  2: 0.2,
  3: 0.3,
  4: 0.4,
  5: 0.5,
  6: 0.6,
  7: 0.7,
  8: 0.8,
  9: 0.9,
  10: 1,
);

$spacing: (
  //rem : value == key * 0.25 rem
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.725rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.725rem,
  8: 2rem,
  9: 2.225rem,
  10: 2.5rem,
  12: 3rem,
  13: 3.25rem,
  14: 3.5rem,
  16: 4rem,
  17: 4.25rem,
  18: 4.5rem,
  19: 4.725rem,
  23: 5.75rem,
  28: 7rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 15rem,
  // percent
  1p: 1%,
  2p: 2%,
  3p: 3%,
  4p: 4%,
  5p: 5%,
  6p: 6%,
  7p: 7%,
  8p: 8%,
  9p: 9%,
  10p: 10%,
  15p: 15%,
  20p: 20%,
  23p: 23%,
  25p: 25%,
  30p: 30%,
  33p: 33%,
  35p: 35%,
  40p: 40%,
  45p: 45%,
  50p: 50%,
  60p: 60%,
  65p: 65%,
  70p: 70%,
  75p: 75%,
  77p: 77%,
  80p: 80%,
  90p: 90%,
  95p: 95%,
  100p: 100%,
  fit: fit-content,
  auto: auto,
);
