@keyframes fade-up-in {
  0% {
    margin-top: 10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes fade-up-out {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  100% {
    margin-top: -20px;
    opacity: 0;
  }
}

@keyframes press {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  30% {
    transform: scale(0.95);
    filter: brightness(1.2);
  }

  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}
